.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 0 ;
     border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 20px;
    
  }
  
  .radio-buttons {
    display: flex;
    gap: 16px;
    margin-left: 20px;
  }
  .radio{
    display: flex;
  }
  
  input[type='radio'] {
    margin-right: 8px;
  }
  
  .search-input {
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
   
  }
  
  input[type='text'] {
    padding: 8px;
    
    border-radius: 4px;
    margin-right: 8px;
     border: none;
  margin-bottom: 0px;
  }
  
  .search-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #2980b9;
  }
  label{
    margin-bottom: 0px;
  }
  